@(bookForm:Form[Book])

@import helper._

@import views.html.partials._booksFormFields

@layout("Edit a Book"){

<h1>Edit book</h1>

    @helper.form(action = routes.BooksController.update(), 'id->"bookUpdateForm"){

        @_booksFormFields(bookForm)

    }

    <button class="btn btn-primary" onclick="sendPutRequest('bookUpdateForm', '@routes.BooksController.edit(bookForm.get().id)')" >
        <i class="glyphicon glyphicon-less"></i>
        Edit Book
    </button>

}
