@(books : List[Book])

@layout("All Books"){
    <h1>All Books</h1>

    <p>
        <a class="btn btn-success" href="@routes.BooksController.create()">
            <i class="glyphicon glyphicon-plus-sign"></i>
            New Book
        </a>
    </p>
    <p>-----------------------------------------------</p>

    @for(book <- books){
        <a class="btn btn-link" href="@routes.BooksController.show(book.id)">@book.title</a>
        <p>Price: R$ @book.price</p>
        <p>Author: @book.author</p>

        <p>-----------------------------------------------</p>
    }
}
