@layout("All Books"){

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to BookStore App</h1>
            <h3>Build Using Play Framework 2.5</h3>
        </div>
    </div>

}